.parallax {
    background-image: url('https://images.hdqwalls.com/download/moana-4k-do-1280x720.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
